{% extends '@EasyAdmin/default/show.html.twig' %}

{% block body_id 'easyadmin-car-show' %}

{% block content_title %}
    {{ entity_instance.name }}
{% endblock %}

{% block page_actions %}
    {{ easyadmin_include('includes/_delete_form.html.twig') }}
{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-three-quarters">
                    <div class="box">
                        <h1 class="title is-4">{{ 'app.car.details'|trans }}</h1>
                        <dl>
                            <dt>{{ 'app.car.name'|trans }}</dt>
                            <dd>{{ entity_instance.name }}</dd>

                            <dt>{{ 'app.car.description'|trans }}</dt>
                            <dd>{{ entity_instance.description }}</dd>

                            <dt>{{ 'app.car.images'|trans }}</dt>
                            <dd>
                                {% for image in entity_instance.images %}
                                    <img src="{{ asset('uploads/Cars/' ~ image.image) }}" alt="{{ image.image }}" class="car-image">
                                {% endfor %}
                            </dd>

                            <dt>{{ 'app.car.price'|trans }}</dt>
                            <dd>{{ entity_instance.price|money }}</dd>

                            <dt>{{ 'app.car.kilometers'|trans }}</dt>
                            <dd>{{ entity_instance.kilometers }}</dd>

                            <dt>{{ 'app.car.year'|trans }}</dt>
                            <dd>{{ entity_instance.year }}</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}