{% extends 'base.html.twig' %}

{% block title %}Liste des Voitures{% endblock %}

{% block body %}
    <h1>Liste des Voitures</h1>

    <div class="row">
        {% for car in cars %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <!-- Car details -->
                    <div class="card-body">
                        <h5 class="card-title">{{ car.getBrand() }} {{ car.getModel() }}</h5>
                        <p class="card-text">Année: {{ car.getYear() }}</p>
                        <p class="card-text">Kilométrage: {{ car.getKm() }} km</p>
                        <p class="card-text">Prix: {{ car.getPrice() }}€</p>
                        <p class="card-text">Description: {{ car.getDescription() }}</p>
                    </div>

                    <!-- Car images -->
{% if car.getImages()|length > 0 %}
    <ul class="list-group list-group-flush">
        {% for image in car.getImages() %}
            <li class="list-group-item">
                {% if image %}
                    <img src="{{ asset('/images/Cars/' ~ image.getTitle()) }}" alt="{{ image.getTitle() }}">
                {% else %}
                    <img src="{{ asset('/images/Services/vidange.jpg') }}" alt="Default Image">
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}

                </div>
            </div>
        {% endfor %}
    </div>

  <h2>Liste des Voitures par Marque</h2>

    <ul>
        {% for car in carsByBrand %}
            <li>{{ car.getBrand() }} - {{ car.getModel() }} (Année: {{ car.getYear() }})</li>
        {% endfor %}
    </ul>
{% endblock %}

