{# templates/car/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Liste des Voitures{% endblock %}

{% block body %}
    <h1>Liste des Voitures</h1>

    <ul>
        {% for car in cars %}
            <li>
                <strong>{{ car.getBrand() }} {{ car.getModel() }}</strong><br>
                Année: {{ car.getYear() }}<br>
                Kilométrage: {{ car.getKm() }} km<br>
                Prix: {{ car.getPrice() }}€<br>
                Description: {{ car.getDescription() }}<br>

                <!-- Affichage des images associées à la voiture -->
                {% if car.getImages()|length > 0 %}
                    <ul>
                        {% for image in car.getImages() %}
                            <li>
                                <img src="{{ asset('/images/Cars/' ~ image.getTitle()) }}" alt="{{ image.getTitle() }}">
                                {{ image.getDescription() }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <h2>Liste des Voitures par Marque</h2>

    <ul>
        {% for car in carsByBrand %}
            <li>{{ car.getBrand() }} - {{ car.getModel() }} (Année: {{ car.getYear() }})</li>
        {% endfor %}
    </ul>
{% endblock %}