<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Garage V.Parrot{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ asset('assets/images/Logo/icons8-roue-32.ico') }}">      

    <!-- Feuilles de styles -->
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">

</head>

<body>

    {% include "_partials/_nav.html.twig" %}

    {% block body %}{% endblock %}

    {% include "_partials/_footer.html.twig" %}

    <!-- Fichiers JS -->
    <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}" defer></script>
    <script src="{{ asset('assets/js/script.js') }}" defer></script>
    {% block javascripts %}{% endblock %}

</body>
</html>

